In [1]:
import numpy as np
import pandas as pd
import os, sys, gc, time, warnings, pickle, psutil, random
import datetime
from math import ceil

from sklearn.preprocessing import LabelEncoder

warnings.filterwarnings('ignore')

In [2]:
def get_memory_usage():
    return np.round(psutil.Process(os.getpid()).memory_info()[0]/2.**30, 2) 
        
def sizeof_fmt(num, suffix='B'):
    for unit in ['','Ki','Mi','Gi','Ti','Pi','Ei','Zi']:
        if abs(num) < 1024.0:
            return "%3.1f%s%s" % (num, unit, suffix)
        num /= 1024.0
    return "%.1f%s%s" % (num, 'Yi', suffix)

In [3]:
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                       df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [4]:
## Merging by concat to not lose dtypes
def merge_by_concat(df1, df2, merge_on):
    merged_gf = df1[merge_on]
    merged_gf = merged_gf.merge(df2, on=merge_on, how='left')
    new_columns = [col for col in list(merged_gf) if col not in merge_on]
    df1 = pd.concat([df1, merged_gf[new_columns]], axis=1)
    return df1

In [5]:
TARGET = 'sales'         # Our main target
END_TRAIN = 1941         # Last day in train set, change this part for final
MAIN_INDEX = ['id','d']  # We can identify item by these columns

In [6]:
print('Load Main Data')
# Here are reafing all our data 
# without any limitations and dtype modification
train_df = pd.read_csv('sales_train_evaluation.csv') # change this part for final
prices_df = pd.read_csv('sell_prices.csv')
calendar_df = pd.read_csv('calendar.csv')

Load Main Data

In [7]:
# use cluster to remove some obs
cluster=pd.read_csv('cluster4.csv') # change this part for final

In [8]:
cluster.head()

,cluster,item_id,0,7,14,21,28,35,42,49,...,1876,1883,1890,1897,1904,1911,1918,1925,1932,1939
0,0,FOODS_1_004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.241116,1.857643,1.897480,1.285254,1.227945
1,0,FOODS_1_009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.037360,0.000000,0.000000,0.000000,0.000000,0.971359,2.727278,2.951438,2.876718,2.876718
2,0,FOODS_1_010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.422206,1.244430,2.666636,1.688870,1.911089,1.911089,1.466650,1.333318,1.377762,2.592563
3,0,FOODS_1_012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.203461,1.286679,1.325087,1.302682,1.277077,1.190658,1.465918,1.142648,1.091437,1.299482
4,0,FOODS_1_014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.760925,1.320694,1.700894,1.740915,1.660873,2.161136,1.720904,2.261188,2.221167,1.820957

In [9]:
cluster=cluster[['cluster', 'item_id']]

In [10]:
cluster['cluster'].value_counts()

2    1700
0     837
1     353
3     159
Name: cluster, dtype: int64

In [11]:
train_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0

In [12]:
train_df=train_df.merge(cluster, on='item_id', how='left')

In [13]:
train_df.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941,cluster
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,4,0,0,0,0,3,3,0,1,0
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,2,1,1,0,0,0,0,0,2
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,2,0,0,0,2,3,0,1,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,4,0,1,3,0,2,6,2
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,2,1,0,0,2,1,0,2

In [14]:
train_df['cluster'].value_counts()

2    17000
0     8370
1     3530
3     1590
Name: cluster, dtype: int64

In [ ]:
print('Create Grid')

# We can tranform horizontal representation 
# to vertical "view"
# Our "index" will be 'id','item_id','dept_id','cat_id','store_id','state_id'
# and labels are 'd_' coulmns

index_columns = ['id','item_id','dept_id','cat_id','store_id','state_id','cluster']
grid_df = pd.melt(train_df, 
                  id_vars = index_columns, 
                  var_name = 'd', 
                  value_name = TARGET)

# If we look on train_df we see that 
# we don't have a lot of traning rows
# but each day can provide more train data
print('Train rows:', len(train_df), len(grid_df))

# To be able to make predictions
# we need to add "test set" to our grid
add_grid = pd.DataFrame()
for i in range(1,29):
    temp_df = train_df[index_columns]
    temp_df = temp_df.drop_duplicates()
    temp_df['d'] = 'd_'+ str(END_TRAIN+i)
    temp_df[TARGET] = np.nan
    add_grid = pd.concat([add_grid,temp_df])

grid_df = pd.concat([grid_df,add_grid])
grid_df = grid_df.reset_index(drop=True)

# Remove some temoprary DFs
del temp_df, add_grid

# We will not need original train_df
# anymore and can remove it
del train_df

# You don't have to use df = df construction
# you can use inplace=True instead.
# like this
# grid_df.reset_index(drop=True, inplace=True)

# Let's check our memory usage
print("{:>20}: {:>8}".format('Original grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

# We can free some memory 
# by converting "strings" to categorical
# it will not affect merging and 
# we will not lose any valuable data
for col in ['id','item_id','dept_id','cat_id','store_id','state_id']:
    grid_df[col] = grid_df[col].astype('category')

# Let's check again memory usage
print("{:>20}: {:>8}".format('Reduced grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

Create Grid
Train rows: 30490 59181090
    Original grid_df:   4.0GiB

In [ ]:
grid_df.head() #1-1941:train

In [ ]:
grid_df.tail() #1942-1969:test

In [ ]:
grid_df.shape

In [ ]:
grid_df['day']=grid_df['d'].apply(lambda x:int(x.split('_')[1]))

In [ ]:
grid_df.head()

In [ ]:
grid_df.tail()

In [ ]:
grid_df.dtypes

In [ ]:
# remove cluster leading zero or few obs

In [ ]:
grid_df['cluster'].value_counts()

In [ ]:
grid_df=grid_df.drop(grid_df[(grid_df['cluster']==1)&(grid_df['day']<=500)].index)

In [ ]:
grid_df.shape

In [ ]:
60034810-58269810

In [ ]:
grid_df[grid_df['cluster']==1].head()

In [ ]:
grid_df[grid_df['cluster']==0].head()

In [ ]:
grid_df=grid_df.drop(grid_df[(grid_df['cluster']==0)&(grid_df['day']<=250)].index)

In [ ]:
grid_df.shape

In [ ]:
58269810-56177310

In [ ]:
grid_df[grid_df['cluster']==0].head()

In [ ]:
grid_df[grid_df['cluster']==3].head()

In [ ]:
grid_df=grid_df.drop(grid_df[(grid_df['cluster']==3)&(grid_df['day']<=1000)].index)

In [ ]:
grid_df.shape

In [ ]:
56177310-54587310

In [ ]:
grid_df[grid_df['cluster']==0].head()

In [ ]:
grid_df.reset_index(drop=True, inplace=True)

In [ ]:
grid_df.shape

In [ ]:
60034810-54587310

In [ ]:
grid_df.tail()

In [ ]:
print('Release week')

# It seems that leadings zero values
# in each train_df item row
# are not real 0 sales but mean
# absence for the item in the store
# we can safe some memory by removing
# such zeros

# Prices are set by week
# so it we will have not very accurate release week 
release_df = prices_df.groupby(['store_id','item_id'])['wm_yr_wk'].agg(['min']).reset_index()
release_df.columns = ['store_id','item_id','release']

In [ ]:
release_df.head() # release: the first wm_yr_wk has price

In [ ]:
# Now we can merge release_df
grid_df = merge_by_concat(grid_df, release_df, ['store_id','item_id'])
del release_df

In [ ]:
grid_df[(grid_df['store_id']=='CA_1') & (grid_df['item_id']=='FOODS_1_001')].head()

In [ ]:
# We want to remove some "zeros" rows
# from grid_df 
# to do it we need wm_yr_wk column
# let's merge partly calendar_df to have it
grid_df = merge_by_concat(grid_df, calendar_df[['wm_yr_wk','d']], ['d'])

In [ ]:
grid_df[(grid_df['store_id']=='CA_1') & (grid_df['item_id']=='FOODS_1_001')].head()

In [ ]:
grid_df[(grid_df['store_id']=='CA_1') & (grid_df['item_id']=='FOODS_1_001')].tail()

In [ ]:
grid_df.shape

In [ ]:
# Now we can cutoff some rows 
# and safe memory 
grid_df = grid_df[grid_df['wm_yr_wk']>=grid_df['release']]
grid_df = grid_df.reset_index(drop=True)

# Let's check our memory usage
print("{:>20}: {:>8}".format('Original grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

In [ ]:
grid_df[(grid_df['store_id']=='CA_1') & (grid_df['item_id']=='FOODS_1_001')].head()

In [ ]:
grid_df.shape

In [ ]:
54587310-47617813

In [ ]:
grid_df.drop('day', axis=1, inplace=True)

In [ ]:
grid_df.head()

In [ ]:
# Should we keep release week 
# as one of the features?
# Only good CV can give the answer.
# Let's minify the release values.
# Min transformation will not help here 
# as int16 -> Integer (-32768 to 32767)
# and our grid_df['release'].max() serves for int16
# but we have have an idea how to transform 
# other columns in case we will need it
grid_df['release'] = grid_df['release'] - grid_df['release'].min()
grid_df['release'] = grid_df['release'].astype(np.int16)

# Let's check again memory usage
print("{:>20}: {:>8}".format('Reduced grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

In [ ]:
grid_df[(grid_df['store_id']=='CA_1') & (grid_df['item_id']=='FOODS_1_001')].head()

In [ ]:
grid_df[(grid_df['store_id']=='CA_1') & (grid_df['item_id']=='FOODS_1_001')].tail()

In [ ]:
print('Save Part 1')

# We have our BASE grid ready
# and can save it as pickle file
# for future use (model training)
grid_df.to_pickle('grid_part_1.pkl')

print('Size:', grid_df.shape)

In [ ]:
# add price feature
prices_df.head(5)

In [ ]:
print('Prices')

# We can do some basic aggregations
prices_df['price_max'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('max')
prices_df['price_min'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('min')
prices_df['price_std'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('std')
prices_df['price_mean'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('mean')

# and do price normalization (min/max scaling)
prices_df['price_norm'] = prices_df['sell_price']/prices_df['price_max']

# #price_rank_dept

In [ ]:
# price_rank_dept
prices_df["dept"]=prices_df["item_id"].apply(lambda x: x.split('_'))
prices_df["dept"]=prices_df["dept"].apply(lambda x: str(x[0:2]))

cat=prices_df["dept"].value_counts().index

a=pd.DataFrame()
k=10
for i in range(len(cat))    :
    temp=pd.cut(prices_df[prices_df["dept"]==cat[i]]['sell_price'],k,labels = range(k))
    a=pd.concat([a,temp])
a.columns=["price_rank_dept"]
a.sort_index(inplace=True)

prices_df=pd.concat([prices_df,a],axis=1)
prices_df["price_rank_dept"]=prices_df["price_rank_dept"].astype("category")
prices_df.drop(["dept"],axis=1,inplace=True)
del a,cat,k
gc.collect()

In [ ]:
prices_df.head()

In [ ]:
# Some items are can be inflation dependent
# and some items are very "stable"
# check how many unique values each group has
prices_df['price_nunique'] = prices_df.groupby(['store_id','item_id'])['sell_price'].transform('nunique')
prices_df['item_nunique'] = prices_df.groupby(['store_id','sell_price'])['item_id'].transform('nunique')

In [ ]:
prices_df.head()

In [ ]:
# I would like some "rolling" aggregations
# but would like months and years as "window"
calendar_prices = calendar_df[['wm_yr_wk','month','year']]
calendar_prices = calendar_prices.drop_duplicates(subset=['wm_yr_wk'])
prices_df = prices_df.merge(calendar_prices[['wm_yr_wk','month','year']], on=['wm_yr_wk'], how='left')
del calendar_prices

# Now we can add price "momentum" (some sort of)
# Shifted by week 
# by month mean
# by year mean
prices_df['price_momentum'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id'])['sell_price'].transform(lambda x: x.shift(1))
prices_df['price_momentum_m'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id','month'])['sell_price'].transform('mean')
prices_df['price_momentum_y'] = prices_df['sell_price']/prices_df.groupby(['store_id','item_id','year'])['sell_price'].transform('mean')

# weather-box

In [ ]:
## https://zh.weatherspark.com/y/
# 'temperature_high' 
# 'temperature_low' 
# temperature: 
# 极冷 0
# 冰冻 1
# 很冷 2
# 寒冷 3
# 凉爽 4
# 舒适 5
# 暖和 6
# 热 7
# 热 8

In [ ]:
ca_mask=(prices_df["store_id"]=="CA_1")|(prices_df["store_id"]=="CA_2")|(prices_df["store_id"]=="CA_3")|(prices_df["store_id"]=="CA_4")
tx_mask=(prices_df["store_id"]=="TX_1")|(prices_df["store_id"]=="TX_2")|(prices_df["store_id"]=="TX_3")
wi_mask=(prices_df["store_id"]=="WI_1")|(prices_df["store_id"]=="WI_2")|(prices_df["store_id"]=="WI_3")

In [ ]:
#WEATHER PARMS
prices_df['temperature_high']=np.nan
prices_df['temperature_con']=np.nan
prices_df['rainfall_m']=np.nan
prices_df['snow_m']=np.nan

## wi_mask 
# temperature_con

prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==1))].index,'temperature_con']=1
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==2))].index,'temperature_con']=2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==3))].index,'temperature_con']=2.5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==4))].index,'temperature_con']=3.5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==5))].index,'temperature_con']=4.5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==6))].index,'temperature_con']=5.5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==7))].index,'temperature_con']=6
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==8))].index,'temperature_con']=6
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==9))].index,'temperature_con']=5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==10))].index,'temperature_con']=4
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==11))].index,'temperature_con']=3
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==12))].index,'temperature_con']=2

# temperature_high

prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==1))].index,'temperature_high']=0.5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==2))].index,'temperature_high']=2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==3))].index,'temperature_high']=6
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==4))].index,'temperature_high']=12
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==5))].index,'temperature_high']=18
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==6))].index,'temperature_high']=(21+27)/2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==7))].index,'temperature_high']=27
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==8))].index,'temperature_high']=25
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==9))].index,'temperature_high']=22
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==10))].index,'temperature_high']=(17+12)/2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==11))].index,'temperature_high']=(12+4)/2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==12))].index,'temperature_high']=(4+0)/2

# rainfall_m

prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==1))].index,'rainfall_m']=16
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==2))].index,'rainfall_m']=21
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==3))].index,'rainfall_m']=42
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==4))].index,'rainfall_m']=72
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==5))].index,'rainfall_m']=80
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==6))].index,'rainfall_m']=86
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==7))].index,'rainfall_m']=80
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==8))].index,'rainfall_m']=82
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==9))].index,'rainfall_m']=76
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==10))].index,'rainfall_m']=63
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==11))].index,'rainfall_m']=50
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==12))].index,'rainfall_m']=31

# snow_m

prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==1))].index,'snow_m']=11
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==2))].index,'snow_m']=10
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==3))].index,'snow_m']=5
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==4))].index,'snow_m']=2
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==5))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==6))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==7))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==8))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==9))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==10))].index,'snow_m']=0
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==11))].index,'snow_m']=3
prices_df.loc[prices_df[(wi_mask&(prices_df["month"]==12))].index,'snow_m']=9

In [ ]:
## ca_mask 
# temperature_con

prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==1))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==2))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==3))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==4))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==5))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==6))].index,'temperature_con']=6
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==7))].index,'temperature_con']=6
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==8))].index,'temperature_con']=6
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==9))].index,'temperature_con']=6
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==10))].index,'temperature_con']=6
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==11))].index,'temperature_con']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==12))].index,'temperature_con']=5

# temperature_high

prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==1))].index,'temperature_high']=20
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==2))].index,'temperature_high']=20
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==3))].index,'temperature_high']=21
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==4))].index,'temperature_high']=22.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==5))].index,'temperature_high']=23.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==6))].index,'temperature_high']=25.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==7))].index,'temperature_high']=28
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==8))].index,'temperature_high']=29.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==9))].index,'temperature_high']=28.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==10))].index,'temperature_high']=25.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==11))].index,'temperature_high']=22
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==12))].index,'temperature_high']=20

# rainfall_m

prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==1))].index,'rainfall_m']=69
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==2))].index,'rainfall_m']=79
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==3))].index,'rainfall_m']=50
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==4))].index,'rainfall_m']=20
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==5))].index,'rainfall_m']=5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==6))].index,'rainfall_m']=1.5
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==7))].index,'rainfall_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==8))].index,'rainfall_m']=1
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==9))].index,'rainfall_m']=4
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==10))].index,'rainfall_m']=12
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==11))].index,'rainfall_m']=29
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==12))].index,'rainfall_m']=52

# snow_m

prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==1))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==2))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==3))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==4))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==5))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==6))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==7))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==8))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==9))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==10))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==11))].index,'snow_m']=0
prices_df.loc[prices_df[(ca_mask&(prices_df["month"]==12))].index,'snow_m']=0

In [ ]:
## tx_mask 
# temperature_con(气候概要)

prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==1))].index,'temperature_con']=4
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==2))].index,'temperature_con']=4
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==3))].index,'temperature_con']=5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==4))].index,'temperature_con']=6
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==5))].index,'temperature_con']=6
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==6))].index,'temperature_con']=7
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==7))].index,'temperature_con']=8
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==8))].index,'temperature_con']=8
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==9))].index,'temperature_con']=7
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==10))].index,'temperature_con']=6
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==11))].index,'temperature_con']=5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==12))].index,'temperature_con']=4

# temperature_high

prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==1))].index,'temperature_high']=14
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==2))].index,'temperature_high']=17
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==3))].index,'temperature_high']=21
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==4))].index,'temperature_high']=24.5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==5))].index,'temperature_high']=28.5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==6))].index,'temperature_high']=32.5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==7))].index,'temperature_high']=35
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==8))].index,'temperature_high']=35.5
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==9))].index,'temperature_high']=31
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==10))].index,'temperature_high']=26
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==11))].index,'temperature_high']=19
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==12))].index,'temperature_high']=15

# rainfall_m

prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==1))].index,'rainfall_m']=50
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==2))].index,'rainfall_m']=59
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==3))].index,'rainfall_m']=70
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==4))].index,'rainfall_m']=85
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==5))].index,'rainfall_m']=102
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==6))].index,'rainfall_m']=80
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==7))].index,'rainfall_m']=42
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==8))].index,'rainfall_m']=47
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==9))].index,'rainfall_m']=64
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==10))].index,'rainfall_m']=89
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==11))].index,'rainfall_m']=70
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==12))].index,'rainfall_m']=62

# snow_m

prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==1))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==2))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==3))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==4))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==5))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==6))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==7))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==8))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==9))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==10))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==11))].index,'snow_m']=0
prices_df.loc[prices_df[(tx_mask&(prices_df["month"]==12))].index,'snow_m']=0

In [ ]:
prices_df.head()

In [ ]:
del prices_df['month'], prices_df['year']

In [ ]:
prices_df.head()

In [ ]:
print('Merge prices and save part 2')

# Merge Prices
original_columns = list(grid_df)
grid_df = grid_df.merge(prices_df, on=['store_id','item_id','wm_yr_wk'], how='left')
keep_columns = [col for col in list(grid_df) if col not in original_columns]
grid_df = grid_df[MAIN_INDEX+keep_columns]
grid_df = reduce_mem_usage(grid_df)

# Safe part 2
grid_df.to_pickle('grid_part_2.pkl')
print('Size:', grid_df.shape)

# We don't need prices_df anymore
del prices_df
gc.collect()

In [ ]:
grid_df.head()

# calender feature

In [ ]:
# add calender feature
calendar_df.head()

In [ ]:
calendar_df["event_name_1"].unique()

In [ ]:
calendar_df["event_type_1"].unique()

In [ ]:
## 上下半月
calendar_df['date']=pd.to_datetime(calendar_df['date'],format="%Y-%m-%d")
# calendar_df['is_first_half_month']=
calendar_df['is_first_half_month']=[ 1 if x.day>=15 else 0  for x in calendar_df['date']]
calendar_df['is_first_half_month']=calendar_df['is_first_half_month'].astype("category")

In [ ]:
calendar_df.head()

周级别处理(wday ==1,2 是weekedn)

In [ ]:
# calendar_df=calendar_df.reset_index()
calendar_df["weekend"]=[ 1 if x<=2 else 0  for x in calendar_df['wday']]

In [ ]:
calendar_df.head()

# 节日前后处理 event_index

In [ ]:
calendar_df["event_attention_after"]=np.nan
event_index=calendar_df[~calendar_df["event_name_1"].isnull()].index
for i in range(0,8):
    if event_index[-1]+i>=calendar_df.shape[0]:
        event_index=event_index[event_index<(event_index[-1]-i)]
    calendar_df.loc[event_index+i,"event_attention_after"]=7-i
calendar_df.loc[event_index,"event_attention_after"]=7
event_index=calendar_df[~calendar_df["event_name_1"].isnull()].index

In [ ]:
calendar_df.head(100)

In [ ]:
calendar_df["event_attention_bef"]=np.nan
for i in range(0,8):
    calendar_df.loc[calendar_df[~calendar_df["event_name_1"].isnull()].index-i,"event_attention_bef"]=i*-1
calendar_df.loc[calendar_df[~calendar_df["event_name_1"].isnull()].index,"event_attention_bef"]=0

In [ ]:
calendar_df["event_attention_sum"]=calendar_df["event_attention_bef"]+calendar_df["event_attention_after"]

In [ ]:
calendar_df["event_bef_weekend"]=np.nan
event_round_index=calendar_df[~calendar_df["event_attention_bef"].isnull()]
calendar_df.loc[event_round_index[event_round_index.wday<=2].index,"event_bef_weekend"]=1
calendar_df.loc[event_index,"event_bef_weekend"]=0

In [ ]:
calendar_df["event_after_weekend"]=np.nan
event_round_index=calendar_df[~calendar_df["event_attention_after"].isnull()]
calendar_df.loc[event_round_index[event_round_index.wday<=2].index,"event_after_weekend"]=1
calendar_df.loc[event_index,"event_after_weekend"]=0

In [ ]:
calendar_df.head(100)

In [ ]:
calendar_df.tail()

#  NBA

In [ ]:
# 赛事数据
calendar_df["NBA"]=np.nan
calendar_df["date"]=pd.to_datetime(calendar_df["date"])
#http://www.uhchina.com/lanqiu/2013-2014nba/
# http://sports.sina.com.cn/nba/playoff1213.html
a=[[2011,5,31],[2011,6,2],[2011,6,5],[2011,6,7],[2011,6,9],[2011,6,12],
   [2012,6,12],[2012,6,14],[2012,6,17],[2012,6,19],[2012,6,21],
   [2013,6,6],[2013,6,9],[2013,6,11],[2013,6,13],[2013,6,16],[2013,6,18],[2013,6,20],
   [2014,6,5],[2014,6,8],[2014,6,10],[2014,6,12],[2014,6,15], 
   [2015,6,4],[2015,6,7],[2015,6,9],[2015,6,11],[2015,6,14], [2015,6,16],
   [2016,6,2],[2016,6,5],[2016,6,8],[2016,6,10],[2016,6,13],[2016,6,16] ,[2016,6,19]
  ]
for i in range(0,len(a)):
    calendar_df.loc[calendar_df[calendar_df["date"]==datetime.datetime(*a[i])].index,"NBA"]=1

In [ ]:
calendar_df[calendar_df["NBA"]==1]

In [ ]:
grid_df = grid_df[MAIN_INDEX]

# Merge calendar partly
icols = ['date',
         'd',
         #category
         'event_name_1',
         'event_type_1',
         'event_name_2',
         'event_type_2',
         'snap_CA',
         'snap_TX',
         'snap_WI', 
         'is_first_half_month', 
         'event_bef_weekend', 
         'event_after_weekend',
         'NBA',
         
         
         # numerical
        'event_attention_after',
         'event_attention_bef',
         'event_attention_sum',
         


        ]
grid_df = grid_df.merge(calendar_df[icols], on=['d'], how='left')

# Minify data
# 'snap_' columns we can convert to bool or int8
icols = ['event_name_1',
         'event_type_1',
         'event_name_2',
         'event_type_2',
         'snap_CA',
         'snap_TX',
         'snap_WI', 
         'is_first_half_month', 
         'event_bef_weekend', 
         'event_after_weekend',
         'NBA']
for col in icols:
    grid_df[col] = grid_df[col].astype('category')

grid_df['event_attention_after'] = grid_df['event_attention_after'].astype(np.float16) #v2
grid_df['event_attention_bef'] = grid_df['event_attention_bef'].astype(np.float16) #v2 
grid_df['event_attention_sum'] = grid_df['event_attention_sum'].astype(np.float16) #v2 
    
    
    
# Convert to DateTime
grid_df['date'] = pd.to_datetime(grid_df['date'])

# Make some features from date
grid_df['tm_d'] = grid_df['date'].dt.day.astype(np.int8) #day of month
grid_df['tm_w'] = grid_df['date'].dt.week.astype(np.int8) # week of year
grid_df['tm_m'] = grid_df['date'].dt.month.astype(np.int8) # month of year
grid_df['tm_q'] = grid_df['date'].dt.quarter.astype(np.int8) # quarter of year
grid_df['tm_y'] = grid_df['date'].dt.year # year
grid_df['tm_y'] = (grid_df['tm_y'] - grid_df['tm_y'].min()).astype(np.int8) # minus min(year)
grid_df['tm_wm'] = grid_df['tm_d'].apply(lambda x: ceil(x/7)).astype(np.int8) # week of month

grid_df['tm_dw'] = grid_df['date'].dt.dayofweek.astype(np.int8) # day of week: monday start from 0, so saturday. is 5
grid_df['tm_w_end'] = (grid_df['tm_dw']>=5).astype(np.int8) # weekend and weekday

# Remove date
del grid_df['date']

In [ ]:
grid_df.info()

In [ ]:
grid_df.head()

In [ ]:
print('Save part 3')

# Safe part 3
grid_df.to_pickle('grid_part_3.pkl')
print('Size:', grid_df.shape)

# We don't need calendar_df anymore
del calendar_df
del grid_df

In [ ]:
## Part 1
# Convert 'd' to int
grid_df = pd.read_pickle('grid_part_1.pkl')
grid_df['d'] = grid_df['d'].apply(lambda x: x[2:]).astype(np.int16)

# Remove 'wm_yr_wk'
del grid_df['wm_yr_wk']
print(grid_df.info())
grid_df.to_pickle('grid_part_1.pkl')

del grid_df

In [ ]:
# group aggregation
grid_df = pd.read_pickle('grid_part_1.pkl')
grid_df[TARGET][grid_df['d']>1913] = np.nan # change this part for final

base_cols = list(grid_df)

print(base_cols)




icols =  [
            ['state_id'],
            ['store_id'],
            ['cat_id'],
            ['dept_id'],
            ['state_id', 'cat_id'],
            ['state_id', 'dept_id'],
            ['store_id', 'cat_id'],
            ['store_id', 'dept_id'],
            ['item_id'],
            ['item_id', 'state_id'],
            ['item_id', 'store_id'],
    
            ]

for col in icols:
    print('Encoding', col)
    col_name = '_'+'_'.join(col)+'_'
    grid_df['enc'+col_name+'mean'] = grid_df.groupby(col)[TARGET].transform('mean').astype(np.float16)
    grid_df['enc'+col_name+'std'] = grid_df.groupby(col)[TARGET].transform('std').astype(np.float16)

    
keep_cols = [col for col in list(grid_df) if col not in base_cols]
grid_df = grid_df[['id','d']+keep_cols]

In [ ]:
grid_df.head()

In [ ]:
print('Save Mean/Std encoding')
grid_df.to_pickle('mean_encoding_df.pkl')

In [ ]:
# new lag data

In [ ]:
train_df = pd.read_csv('sales_train_evaluation.csv') # change this part for final

In [ ]:
print('Create Grid')

# We can tranform horizontal representation 
# to vertical "view"
# Our "index" will be 'id','item_id','dept_id','cat_id','store_id','state_id'
# and labels are 'd_' coulmns

index_columns = ['id','item_id','dept_id','cat_id','store_id','state_id']
grid_df = pd.melt(train_df, 
                  id_vars = index_columns, 
                  var_name = 'd', 
                  value_name = TARGET)

# If we look on train_df we see that 
# we don't have a lot of traning rows
# but each day can provide more train data
print('Train rows:', len(train_df), len(grid_df))

# To be able to make predictions
# we need to add "test set" to our grid
add_grid = pd.DataFrame()
for i in range(1,29):
    temp_df = train_df[index_columns]
    temp_df = temp_df.drop_duplicates()
    temp_df['d'] = 'd_'+ str(END_TRAIN+i)
    temp_df[TARGET] = np.nan
    add_grid = pd.concat([add_grid,temp_df])

grid_df = pd.concat([grid_df,add_grid])
grid_df = grid_df.reset_index(drop=True)

# Remove some temoprary DFs
del temp_df, add_grid

# We will not need original train_df
# anymore and can remove it
del train_df

# You don't have to use df = df construction
# you can use inplace=True instead.
# like this
# grid_df.reset_index(drop=True, inplace=True)

# Let's check our memory usage
print("{:>20}: {:>8}".format('Original grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

# We can free some memory 
# by converting "strings" to categorical
# it will not affect merging and 
# we will not lose any valuable data
for col in ['id','item_id','dept_id','cat_id','store_id','state_id']:
    grid_df[col] = grid_df[col].astype('category')

# Let's check again memory usage
print("{:>20}: {:>8}".format('Reduced grid_df',sizeof_fmt(grid_df.memory_usage(index=True).sum())))

In [ ]:
grid_df.head()

In [ ]:
grid_df.tail()

In [ ]:
# We need only 'id','d','sales'
# to make lags and rollings
grid_df = grid_df[['id','d','sales']]
SHIFT_DAY = 28
# Lags
# with 28 day shift
start_time = time.time()
print('Create lags')

LAG_DAYS = [col for col in range(SHIFT_DAY,SHIFT_DAY+15)]
grid_df = grid_df.assign(**{
        '{}_lag_{}'.format(col, l): grid_df.groupby(['id'])[col].transform(lambda x: x.shift(l))
        for l in LAG_DAYS
        for col in [TARGET]
    })

# Minify lag columns
for col in list(grid_df):
    if 'lag' in col:
        grid_df[col] = grid_df[col].astype(np.float16)

print('%0.2f min: Lags' % ((time.time() - start_time) / 60))

# Rollings
# with 28 day shift
start_time = time.time()
print('Create rolling aggs')

for i in [7,14,28,56,168]:
    print('Rolling period:', i)
    grid_df['rolling_mean_'+str(i)] = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).mean()).astype(np.float16)
    grid_df['rolling_std_'+str(i)]  = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).std()).astype(np.float16)

# Rollings
# with sliding shift
for d_shift in [1,7,14]: 
    print('Shifting period:', d_shift)
    for d_window in [7,14,28,56]:
        col_name = 'rolling_mean_tmp_'+str(d_shift)+'_'+str(d_window)
        grid_df[col_name] = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(d_shift).rolling(d_window).mean()).astype(np.float16)
    
    
print('%0.2f min: Lags' % ((time.time() - start_time) / 60))

In [ ]:
grid_df.head()

In [ ]:
grid_df.tail()

In [ ]:
# add quantile

In [ ]:
for i in [28,56,168]:
    print('Rolling quantile period:', i)
    grid_df['rolling_quantile_97_'+str(i)] = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).quantile(0.97, interpolation='midpoint')).astype(np.float16)
    grid_df['rolling_quantile_87.5_'+str(i)]  = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).quantile(0.875, interpolation='midpoint')).astype(np.float16)
    grid_df['rolling_quantile_50_'+str(i)] = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).quantile(0.5, interpolation='midpoint')).astype(np.float16)
    grid_df['rolling_quantile_22.5_'+str(i)]  = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).quantile(0.225, interpolation='midpoint')).astype(np.float16)
    grid_df['rolling_quantile_3_'+str(i)]  = grid_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(SHIFT_DAY).rolling(i).quantile(0.03, interpolation='midpoint')).astype(np.float16)

In [ ]:
grid_df.head()

In [ ]:
grid_df.tail()

In [ ]:
grid_df.info()

In [ ]:
grid_df['d']=grid_df['d'].apply(lambda x:int(x.split('_')[1]))
grid_df_1 = pd.read_pickle('grid_part_1.pkl')
grid_df_1=grid_df_1[['id','d']]

In [ ]:
grid_df_1.head()

In [ ]:
grid_df=grid_df_1.merge(grid_df, on=['id','d'], how='left' )

In [ ]:
grid_df.head()

In [ ]:
grid_df.shape

In [ ]:
print('Save lags and rollings')
grid_df.to_pickle('lags_df_'+str(SHIFT_DAY)+'_v3.pkl')